.box {
    font-size: 14px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    border: 1px solid #000;
    .markdownBody {
        line-height: 1.6;
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 10px 0;
            background: #fff;
        }
        th,
        td {
            border: 1px solid #ddd;
            padding: 5px 8px;
            text-align: left;
        }
        th {
            background-color: #fafafa;
            font-weight: 600;
        }
    }
}
