.box {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* 启用平滑滚动 */
    overscroll-behavior: contain; /* 阻止滚动传播，如果支持 */
    .box-main {
        width: 100%;
        height: 500px;
    }
}
