.pl {
    height: 500px;
    .pl-list {
        //height: 500px;    // 加不加高度都可以
        border: 1px solid #000;
        overflow: auto;
        .pl-list-item {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            padding-left: 20px;
        }
    }
    .pl-empty {
        height: 200px;
        line-height: 200px;
        border: 1px solid #000;
        background: #f8f8f8;
        text-align: center;
    }
}
